script(src='/js/vendor/jquery.js')
script(src='/js/vendor/jquery-ui.js')
script(src='/js/vendor/modernizr.js')
//templatizer : needed?
script(src='/js/backbone/templates.js')
script(src='/js/vendor/underscore.js')
script(src='/js/vendor/backbone.js')
script(src='/js/vendor/marionette.js')
script(src='/socket.io/socket.io.js')
script(src='js/vendor/foundation.js')
script.
  $(document).foundation();
script(src='/js/jquery.tagsinput.min.js')
script(src='/js/app.js')
script(src='/js/ui.js')
// charts in-process porting to backbone
// script(src='/js/chart-internal.js')


// backbone

// lib
script(src='/js/vendor/jquery.js')
script(src='/js/vendor/jquery-ui.js')
script(src='/js/vendor/modernizr.js')
script(src='/js/backbone/templates.js')
script(src='/js/vendor/underscore.js')
script(src='/js/backbone/config/marionette/application.js')
// todo fix renderer
// script(src='/js/backbone/config/marionette/renderer.js')
script(src='/js/backbone/app.js')
script(src='/js/backbone/entities/_base/collections.js')
script(src='/js/backbone/entities/_base/collectionview.js')
script(src='/js/backbone/entities/_base/compositeview.js')
script(src='/js/backbone/entities/_base/itemview.js')
script(src='/js/backbone/entities/_base/layout.js')
script(src='/js/backbone/entities/_base/models.js')
script(src='/js/backbone/entities/_base/view.js')
script(src='/js/backbone/entities/header.js')
script(src='/js/backbone/entities/footer.js')

// header app
script(src='/js/backbone/apps/header/header_app.js')
script(src='/js/backbone/apps/header/show/show_controller.js')
script(src='/js/backbone/apps/header/show/show_view.js')

// footer app
script(src='/js/backbone/apps/footer/footer_app.js')
script(src='/js/backbone/apps/footer/show/show_controller.js')
script(src='/js/backbone/apps/footer/show/show_view.js')

// init
script(src='/js/backbone/init.js')

script.
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25468002-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();