#date-modal.reveal-modal
  h4 Date range
  h4.subheader Select a start and end date
  .date-range
    label(for="from") From
    input#from(type="text", name="from")
    label(for="to") to
    input#to(type="text", name="to")
    button#submit-date-range Go
  a.close-reveal-modal &#215;
  
  
#remove-date-modal.reveal-modal
  h2 Remove date filter
  h6.subheader This will reset your tweets to today's tweets.
  a.close-reveal-modal &#215;
    a.close-reveal-modal &#215;
  .row
    a.button.secondary.pretty(href='#', id='cancel-remove-date-filter') Cancel
    a.button.pretty(href='#', id='remove-date-filter') Remove
