#date-modal.reveal-modal
  h2 Date range
  h4.subheader Select a start and end date
  .date-range
    label(for="from") From
    input#from(type="text", name="from")
    label(for="to") to
    input#to(type="text", name="to")
    button#submit-date-range Go
  a.close-reveal-modal &#215;