li
  a(href="/", title="Home") Home
li
  a(href="/explore/"+req.user.id, title="Explore") Explore
li
  a(href="/activity/"+req.user.id, title="Activity") Activity
li
  a(href="/users/"+req.user.id, title="Profile") Profile
li
  a(href="/logout", title="logout") Logout