.contain-to-grid
  nav.top-bar(data-options='is_hover:true')        
    - if (req.isAuthenticated())
      ul.title-area
      section.top-bar-section
        //
          Left Nav Section
        ul.left
          li.has-dropdown
            a(href='#') Competitors
            ul.dropdown
              li.divider.hide-for-small
              li
                a(href='#') McDonalds
              li.divider
              li
                a(href='#') Edit Competitors
          li.divider
          li
            a(href='/') Home
          li.divider
          li
            a(href='/explore') Explore
          li.divider
          li
            a(href='/activity') Activity
          li.divider            
        //
            Right Nav Section 
        ul.right
          li.divider.hide-for-small
          li.has-form
            form
              .row.collapse
                .small-8.columns
                  input(type='text', placeholder='Search live...')
                .small-4.columns
                  a.alert.button(href='#') Search 
          li.divider
          li.has-dropdown
            a(href='#') Profile
            ul.dropdown
              li.divider.hide-for-small
              li
                label Your profile
              li
                a(href='/users/'+req.user.id) Edit Profile
              li
                a(href='/logout') Logout
                           
    - if (!req.isAuthenticated())
      nav.top-bar
        ul.title-area
          li.name
            h1
              a(href="/") Competitor
            li.toggle-topbar menu-icon
              a(href="#") Top bar Title
                span Menu
        //
          Left Nav Section
        ul.left
        //
          Right Nav Section
        ul.right
          li.divider.hide-for-small
          li.has-form.search
            form.login(action="/users/session", method="post")
              .row.collapse
                .small-5.columns
                  input(type='hidden', name='_csrf', value="#{csrf_token}")
                  input#email-login(type='email', name="email", placeholder='Email')
                .small-5.columns
                  input#password-login(type='password', name="password", placeholder='Password')
                .small-2.columns
                  a.button#login-button(type='submit') Login