
header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') Competition Tracker from Instore
        .nav-collapse.collapse
          ul.nav
          ul.nav.pull-right
            li

            - if (req.isAuthenticated())
              include _nav
            
            - if (!req.isAuthenticated())
              block auth
              //include ../users/_login

     
              