body {
  padding-top: 60px;
}

.container {
  width: auto;
  max-width: 680px;
}

.article, .comment {
  padding: 15px 0;
  border-top: 1px solid #e8e8e8;
}


.error {
  color: #FF2602;
}

.form-actions {
  background: #fff;
  border: 0;
}

ul.analytics { width: 75% }
ul.analytics li { display: block; width: 0; background: blue; color: black}
ul.analytics li span.number { color: white }
ul.analytics li span:not(.number) { float: right; display: inline-block; background: blue; color: #fff }
ul.tweets { list-style-type: none } 
ul.tweets li { background: #efefef; }
ul.tweets li:nth-child(odd) { background: #fff; }
p.offset2.message {color:green;}
canvas#myChart, canvas#myChart2, canvas#myChart3 { width: 400px; height: 400px;}

.progress-meter .background {
  fill: #ccc;
}

.progress-meter .foreground {
  fill: #000;
}

.progress-meter text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.chartBox {
  width: 20px;
  height: 20px;
}
.chartBox span {
  display:inline;
}

button.selected {
  color: blue;
}