extends layouts/default

block main
block content
  - if (!req.isAuthenticated())  
    .row
      .small-6.columns
        h3#tracking Loading...
        ul.analytics
        ul.tweets.streaming
      .small-4.small-offset-2.columns
        include users/_signup
 