form
  .row.collapse
      .small-3.large-2.columns
        span.prefix http://
      .small-9.large-10.columns
        input(type='text', placeholder='Enter your URL...')
    .row
      .large-6.columns
        .row.collapse
          .small-10.columns
            input(type='text', placeholder='Hex Value')
          .small-2.columns
            a.button.prefix(href='#') Action
      .large-6.columns
        .row.collapse
          .small-9.columns
            input(type='text', placeholder='Value')
          .small-3.columns
            span.postfix.radius Label
