include ../../includes/modals/_datepicker

.row
  dl.sub-nav
    dt Tracking keywords:
    each keyword in keywords
      dd.active.update-keyword(data-keyword= keyword)
        a.keyword-types(href='#')= keyword
    dd
      a |
    dd.active(data-chart='Pie')
      a.update-chart.chart-types(href='#') Pie
    dd(data-chart='Doughnut')
      a.update-chart.chart-types(href='#') Doughnut
    dd(data-chart='PolarArea')
      a.update-chart.chart-types(href='#') PolarArea
    dd(data-chart='Bar')
      a.update-chart.chart-types(href='#') Bar
    dd(data-chart='Line')
      a.update-chart.chart-types(href='#') Line
    dd(data-chart='Radar')
      a.update-chart.chart-types(href='#') Radar
    dd
      a |
    dd
      a(href='#', data-reveal-id='date-modal') Date range
    dd.active.formatted-dates
      a(href='#', data-reveal-id='remove-date-modal')= formattedDates