// dependencies
script(src='/js/vendor/jquery/jquery.js')
script(src='/js/vendor/jquery/jquery-ui.js')
script(src='/js/vendor/modernizr/modernizr.js')
script(src='/js/vendor/chart/chart.js')  
script(src='/js/templates/templates.js')
script(src='/js/vendor/underscore/underscore.js')
script(src='/js/vendor/backbone/backbone.js')
script(src='/js/vendor/backbone/backbone.marionette.js')
script(src='/socket.io/socket.io.js')
script(src='/js/config/marionette/application.js')
script(src='/js/config/marionette/renderer.js')
script(src='/js/config/router/router.js')
script(src='/js/app.js')
script(src='/js/entities/_base/collections.js')
script(src='/js/entities/_base/collectionview.js')
script(src='/js/entities/_base/compositeview.js')
script(src='/js/entities/_base/itemview.js')
script(src='/js/entities/_base/layout.js')
script(src='/js/entities/_base/models.js')
script(src='/js/entities/_base/view.js')
script(src='/js/entities/header.js')
script(src='/js/entities/footer.js')
script(src='/js/entities/tweet.js')
 
// header app
script(src='/js/apps/header/header_app.js')
script(src='/js/apps/header/show/show_controller.js')
script(src='/js/apps/header/show/show_view.js')
 
// footer app
script(src='/js/apps/footer/footer_app.js')
script(src='/js/apps/footer/show/show_controller.js')
script(src='/js/apps/footer/show/show_view.js')
 
// tweet app
script(src='/js/apps/tweet/tweet_app.js')
script(src='/js/apps/tweet/index/index_controller.js')
script(src='/js/apps/tweet/index/index_view.js')
 
// app
script(src='/js/init.js')

// foundation
script(src='js/vendor/foundation/foundation.js')
script.
   $(document).foundation();
   
// internal javascripts
script(src='/js/lib/ui.js')