.error {
  color: #FF2602;
}
p.offset2.message {color:green;}

.alert-box { text-align: center;}
ul.analytics, ul.tweets { list-style-type:none; }
canvas#myChart, canvas#myChart2, canvas#myChart3 { width: 400px; height: 400px;}

.chartBox {
  width: 20px;
  height: 20px;
}
.chartBox span {
  display:inline;
}