extends layouts/default

block main
block content
  - if (req.isAuthenticated())
    script(src='/js/chart.js')
    - var keywords = user.keywords.split(',')
    input(name='document[id]', value=JSON.stringify(chartData), type='hidden', id='chart-data')
    input(name='document[id]', value=since, type='hidden', id='chart-since')
    include tweets/index
        
  - if (!req.isAuthenticated())
    ul.pull-right
      include users/signup
      
    ul.pull-left
      include tweets/_frontpage